<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <h1>Staff Login</h1>
        <form action="{{ url_for('staff_login') }}" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        
       <P>New Staff? <a href="{{ url_for('staff_signup') }}" class="btn btn-secondary"> Sign Up</a></P>
        <a href="{{ url_for('home') }}" class="btn btn-tertiary">Back to Home</a>
    </div>
</body>
</html>